Workflows/07. Tool Consulta Site Lady.json
{
  "name": "07. Tool Consulta Site Lady",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1472,
        -224
      ],
      "id": "b85eae83-d87f-42ac-8b1f-a07bfd474cd7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('When Executed by Another Workflow').item.json.tipo_busca }}",
              "value2": "institucional"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1696,
        -224
      ],
      "id": "7ffdbd45-7462-4b2d-a822-54dab0e8253d",
      "name": "Check Tipo Busca"
    },
    {
      "parameters": {
        "jsCode": "const termo = $('When Executed by Another Workflow').item.json.pergunta_usuario || '';\\nconst limpo = termo.toLowerCase();\\n\\nlet resposta = 'Não encontrei uma página específica, mas você pode ver tudo no nosso site oficial: https://ladyrootsilhagrande.com.br/';\\n\\nif (limpo.includes('foto') || limpo.includes('suíte') || limpo.includes('suite') || limpo.includes('quarto') || limpo.includes('acomodação')) {\\n  resposta = 'Você pode conferir todas as fotos e detalhes das nossas suítes aqui: https://ladyrootsilhagrande.com.br/suites/';\\n}\\nelse if (limpo.includes('passeio') || limpo.includes('roteiro') || limpo.includes('lancha') || limpo.includes('barco')) {\\n  resposta = 'Conheça nossos roteiros incríveis de lancha por toda a Ilha Grande neste link: https://ladyrootsilhagrande.com.br/passeios/';\\n}\\nelse if (limpo.includes('restaurante') || limpo.includes('comida') || limpo.includes('cardápio')) {\\n  resposta = 'Nosso restaurante serve os melhores pratos locais! Descubra mais em: https://ladyrootsilhagrande.com.br/';\\n}\\nelse if (limpo.includes('transfer') || limpo.includes('passagem') || limpo.includes('chegar')) {\\n  resposta = 'Trabalhamos com transfer do continente até a Ilha Grande. O valor médio é entre R$ 190 e R$ 210. O atendimento humano pode confirmar os horários.';\\n}\\n\\nreturn {\\n  status: 'sucesso',\\n  resposta_texto: resposta\\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -336
      ],
      "id": "15ed914b-58fd-45c6-99a5-3f3541e8cba4",
      "name": "Respostas do Site"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/t1A2kR0aL4ZpL9L2.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1936,
        -112
      ],
      "id": "ae3b3f8c-13b2-4da0-b4ce-2f90e0fd65c3",
      "name": "Feed do Instagram",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const rawXml = $input.item.json.data || $input.item.json;\n  let novidades = 'Novidade na área! ';\n\n  if (rawXml && rawXml.rss && rawXml.rss.channel && rawXml.rss.channel.item) {\n    const posts = Array.isArray(rawXml.rss.channel.item) ? rawXml.rss.channel.item.slice(0, 3) : [rawXml.rss.channel.item];\n    \n    let resumo = posts.map((p, index) => {\n      let title = p.title || '';\n      let link = p.link || 'https://www.instagram.com/ladyrootsilhagrande/';\n      return (index + 1) + '. ' + title.substring(0, 60) + '... (Veja mais: ' + link + ')';\n    }).join('\\n');\n    \n    novidades += 'Confira o que está rolando na nossa página nas últimas horas:\\n' + resumo;\n  } else {\n    novidades = 'Para saber o que está acontecendo na ilha agora, de forma em tempo real, acompanhe a gente no Instagram! Dá uma olhada nas nossas últimas postagens: https://instagram.com/ladyrootsilhagrande';\n  }\n\n  return [\n    {\n      json: {\n        status: 'sucesso',\n        resposta_texto: novidades\n      }\n    }\n  ];\n} catch(e) {\n  return [\n    {\n      json: {\n        status: 'sucesso',\n        resposta_texto: 'Confira as novidades mais recentes no nosso instagram: https://instagram.com/ladyrootsilhagrande'\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        -112
      ],
      "id": "ceb06432-4a00-4e2f-bf68-548ea3c97dc6",
      "name": "Formatar Novidades"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Tipo Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tipo Busca": {
      "main": [
        [
          {
            "node": "Respostas do Site",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feed do Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed do Instagram": {
      "main": [
        [
          {
            "node": "Formatar Novidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "210a792a-974c-4ede-99d9-af9d2faa1771",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7415e9235ece5189110114eb36bbaac162fc7eee18fdc01c0368c28339a042a1"
  },
  "id": "IOF6jxVD7LDxa6MD",
  "tags": []
}