Workflows/09. Consulta Disponibilidade HQBeds V1.json
{
  "name": "09. Consulta Disponibilidade HQBeds V1",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "data_inicio", "value": "10/03/2026" },
            { "name": "data_fim", "value": "12/03/2026" }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Definir Datas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.hqbeds.com.br/hq/auth/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "tenant", "value": "ladyroots" },
            { "name": "identity", "value": "seu_email_aqui@gmail.com" },
            { "name": "password", "value": "sua_senha" },
            { "name": "remember", "value": "1" },
            { "name": "from", "value": "hq/home" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "login-1",
      "name": "Login (Pegar Cookie)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.hqbeds.com.br/hq/booking/period_reservation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.headers['set-cookie'] ? $json.headers['set-cookie'].join('; ') : '' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "from", "value": "={{ $('Definir Datas').item.json.data_inicio }}" },
            { "name": "to", "value": "={{ $('Definir Datas').item.json.data_fim }}" },
            { "name": "adults", "value": "1" },
            { "name": "children", "value": "0" },
            { "name": "buscarBt", "value": "Buscar" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "search-1",
      "name": "Buscar Vagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 700, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || '';\n\n// Esse código faz uma limpeza rudimentar no HTML gigante\n// Ele procura se o nome dos quartos aparecem na tela de resultados após a busca\nconst temAventureiro = html.includes('Aventureiro');\nconst temLagoaAzul = html.includes('Lagoa Azul');\nconst temPicoPapagaio = html.includes('Pico do Papagaio');\n\n// Uma forma simples de limpar as tags sujas e tentar achar preços ou campos importantes\n// Para filtros profissionais, você deve ligar o nó 'HTML Extract' logo depois desse.\n\nreturn {\n  html_cru: \"(Oculto para não dar erro de sujeira, use o nó HTML do n8n para ler ele)\",\n  quartos_encontrados_no_texto: {\n    \"Suite Aventureiro\": temAventureiro,\n    \"Suite Lagoa Azul\": temLagoaAzul,\n    \"Suite Pico Papagaio\": temPicoPapagaio\n  },\n  aviso: \"Conecte o nó 'HTML Extract' do n8n usando CSS Selectors para pegar as informações exatas das Divs!\"\n};\n"
      },
      "id": "filter-1",
      "name": "Filtro de Limpeza",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 900, 300 ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [ [ { "node": "Definir Datas", "type": "main", "index": 0 } ] ]
    },
    "Definir Datas": {
      "main": [ [ { "node": "Login (Pegar Cookie)", "type": "main", "index": 0 } ] ]
    },
    "Login (Pegar Cookie)": {
      "main": [ [ { "node": "Buscar Vagas", "type": "main", "index": 0 } ] ]
    },
    "Buscar Vagas": {
      "main": [ [ { "node": "Filtro de Limpeza", "type": "main", "index": 0 } ] ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1b2c3d4-e5f6-4a5b-8c7d-9e0f1g2h3i4j"
}
