Workflows/09. Tool verificar_vagas HQBeds.json
{
  "name": "verificar_vagas",
  "nodes": [
    {
      "parameters": {},
      "id": "c7589c8a-69e0-4426-b2a4-356f146aafcb",
      "name": "Executar Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.hqbeds.com.br/hq/auth/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant",
              "value": "ladyroots1"
            },
            {
              "name": "identity",
              "value": "lady.rootsilhagrande@gmail.com"
            },
            {
              "name": "password",
              "value": "milena#roots!"
            },
            {
              "name": "remember",
              "value": "1"
            },
            {
              "name": "from",
              "value": "hq/home"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "7ea29ad2-3a62-4b04-bea8-7db3c8db40ef",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.hqbeds.com.br/hq/booking/period_reservation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.headers['set-cookie'] ? $json.headers['set-cookie'].join('; ') : '' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $node['Executar Workflow Trigger'].json['data_inicio'] || '10/03/2026' }}"
            },
            {
              "name": "to",
              "value": "={{ $node['Executar Workflow Trigger'].json['data_fim'] || '12/03/2026' }}"
            },
            {
              "name": "adults",
              "value": "1"
            },
            {
              "name": "children",
              "value": "0"
            },
            {
              "name": "buscarBt",
              "value": "Buscar"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b1041e66-d181-4a7b-b7c4-ea8e56ff5e91",
      "name": "Consultar Vagas HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || '';\nconst regex = /name=\"units\\[(\\d+)\\]\\[serialized_price_info\\]\"\\s*value=\"([^\"]+)\"/g;\nlet match; let achou = false;\nlet md = \"\\n🏨 **RESULTADO DA BUSCA DE VAGAS**\\n\\n\";\nconst nomes = [{id: 'Aventureiro', nome: 'Suíte Aventureiro'}, {id: 'Lagoa Azul', nome: 'Suíte Lagoa Azul'}, {id: 'Pico do Papagaio', nome: 'Pico do Papagaio'}];\n\nwhile ((match = regex.exec(html)) !== null) {\n  achou = true;\n  const idQ = match[1]; const token = match[2];\n  let nomeId = \"Quarto (ID \"+idQ+\")\";\n  md += `✅ **${nomeId}**\\n- **ID para Reserva:** \\`${idQ}\\`\\n- **Token Serializado:** \\`${token}\\`\\n\\n`;\n}\n\nif (!achou) {\n  md = \"❌ **Nenhuma vaga encontrada** para as datas solicitadas.\\nSugira ao cliente tentar outras datas.\";\n} else {\n  md += \"---\\n📌 **INSTRUÇÃO PARA A IA:**\\nAbaixo estão as vagas encontradas. Avise o cliente e SE ELE CONFIRMAR O AGENDAMENTO, use a ferramenta criar_reserva usando o ID e Token Serializado acima.\";\n}\n\nreturn { json: { dados_markdown_para_ia: md } };"
      },
      "id": "40ae1a5d-e6e0-4dbf-82f5-e1f4fd8ced32",
      "name": "Gerar Resumo em MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Executar Workflow Trigger": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Consultar Vagas HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Vagas HTML": {
      "main": [
        [
          {
            "node": "Gerar Resumo em MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Resumo em MD": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5acc0e0a-5b6d-4f3a-9c6a-928d27857c98",
  "meta": {
    "instanceId": "7415e9235ece5189110114eb36bbaac162fc7eee18fdc01c0368c28339a042a1"
  },
  "id": "nXhQGi4iFi7PCFtkyAVt-",
  "tags": []
}