Workflows/10. Tool Agenda HQBeds.json
{
  "name": "verificar_vagas",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-execute",
      "name": "Executar Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.hqbeds.com.br/hq/auth/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "tenant", "value": "ladyroots"},
            {"name": "identity", "value": "seu_email_aqui@gmail.com"},
            {"name": "password", "value": "sua_senha"},
            {"name": "remember", "value": "1"},
            {"name": "from", "value": "hq/home"}
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "login-agenda",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.hqbeds.com.br/hq/booking/period_reservation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.headers['set-cookie'] ? $json.headers['set-cookie'].join('; ') : '' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "from", "value": "={{ $node['Executar Workflow Trigger'].json['data_inicio'] || '10/03/2026' }}"},
            {"name": "to", "value": "={{ $node['Executar Workflow Trigger'].json['data_fim'] || '12/03/2026' }}"},
            {"name": "adults", "value": "1"},
            {"name": "children", "value": "0"},
            {"name": "buscarBt", "value": "Buscar"}
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "busca-vagas",
      "name": "Consultar Vagas HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || '';\n\n// Procura os inputs ocultos com o serialized_price_info gerados pelo servidor HQBeds\nconst regex = /name=\"units\\[(\\d+)\\]\\[serialized_price_info\\]\"\\s*value=\"([^\"]+)\"/g;\nlet match;\nlet quartos = [];\n\nwhile ((match = regex.exec(html)) !== null) {\n  const idQuarto = match[1];\n  const tokenPreco = match[2];\n\n  quartos.push({\n    id_quarto: parseInt(idQuarto),\n    token_serializado: tokenPreco\n  });\n}\n\n// Tentar encontrar quais suítes estão na tela para facilitar a IA\nconst temAventureiro = html.includes('Aventureiro');\nconst temLagoaAzul = html.includes('Lagoa Azul');\nconst temPicoPapagaio = html.includes('Pico do Papagaio');\n\nreturn {\n  json: {\n    sucesso: quartos.length > 0,\n    total_quartos_livres: quartos.length,\n    quartos_com_vaga_para_reserva: quartos,\n    resumo_textual_identificado: {\n      \"Suíte Aventureiro\": temAventureiro ? \"Disponível na lista\" : \"Não encontrada\",\n      \"Suíte Lagoa Azul\": temLagoaAzul ? \"Disponível na lista\" : \"Não encontrada\",\n      \"Suíte Pico do Papagaio\": temPicoPapagaio ? \"Disponível na lista\" : \"Não encontrada\"\n    },\n    ajuda: \"Se precisar fazer a reserva direto pelo chat, pegue um dos tokens acima e envie para a Tool Reserva HQBeds juntamente com os dados do cliente e o ID do quarto!\"\n  }\n};"
      },
      "id": "parser-html",
      "name": "Extrair Tokens Invisíveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Executar Workflow Trigger": {"main": [[{"node": "Login", "type": "main", "index": 0}]]},
    "Login": {"main": [[{"node": "Consultar Vagas HTML", "type": "main", "index": 0}]]},
    "Consultar Vagas HTML": {"main": [[{"node": "Extrair Tokens Invisíveis", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f784eaee-1234-ddaa-5678-0112aa33bbcc"
}
