Workflows/8. Agente de Consulta Lady.json
{
  "name": "Agente de Consulta Lady",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        256
      ],
      "id": "e3176806-3a2d-4c18-9fff-7412f9254202",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('When Executed by Another Workflow').item.json.tipo_busca }}",
              "value2": "institucional"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -656,
        256
      ],
      "id": "b0f55346-0c78-47a3-8117-2c5252506334",
      "name": "Check Tipo Busca"
    },
    {
      "parameters": {
        "url": "https://ladyrootsilhagrande.com.br/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        112
      ],
      "id": "ab5fbfb0-4908-4017-8f70-7b996884fb6e",
      "name": "HTTP Institucional"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "c463e0b9-5edd-4988-afc9-e33f5460f230",
      "name": "MD Institucional"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.tipo_busca == 'institucional' ? '# Role\\nVOCÊ É A ASSISTENTE DA POUSADA LADY ROOTS.\\n\\n# IMPORTANTE:\\nNÃO INVENTE INFORMAÇÃO. Use APENAS o texto abaixo extraído do site da pousada.\\n\\n# TAREFA:\\nResponda ao pedido do usuário: \"' + $('When Executed by Another Workflow').item.json.pergunta_usuario + '\"\\n\\n# ESTRATÉGIA:\\n1. Se o usuário estiver pedindo fotos das suítes, passeios, ou informações sobre a infraestrutura, procure atentamente pelo link da página ou foto no conteúdo.\\n2. Extraia informações úteis do site para responder com excelência e encaminhe os links diretos para fotos ou tours que encontrar.\\n3. O site contém links para /suites, /passeios, etc. Use os links relevantes.\\n\\n# DADOS DO SITE (TEXTO COMPLETO):\\n' + $json.data.substring(0, 80000) + '\\n\\n# OUTPUT (JSON ONLY):\\n{ \"status\": \"sucesso\" | \"nao_encontrado\", \"resposta_texto\": \"Resposta amigável com as fotos/informações encontradas e os links relevantes.\" }' : '# Role\\nVOCÊ É A ASSISTENTE DA POUSADA LADY ROOTS.\\n\\n# IMPORTANTE:\\nNÃO INVENTE INFORMAÇÃO. Use APENAS o texto abaixo extraído do Instagram da pousada.\\n\\n# TAREFA:\\nResponda à pergunta do usuário: \"' + $('When Executed by Another Workflow').item.json.pergunta_usuario + '\"\\n\\n# ESTRATÉGIA:\\n1. Se o usuário quiser saber novidades, atualizações ou o que está acontecendo na ilha agora, baseie-se nas postagens recentes para um resumo acolhedor.\\n2. Informe as novidades de maneira agradável. \\n\\n# DADOS DO INSTAGRAM:\\n' + $json.data.substring(0, 80000) + '\\n\\n# OUTPUT (JSON ONLY):\\n{ \"status\": \"sucesso\" | \"nao_encontrado\", \"resposta_texto\": \"Sua resposta sobre as novidades da ilha baseada no Instagram...\" }' }}",
        "messages": {
          "messageValues": [
            {
              "message": "RESPOND ONLY WITH VALID JSON."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        144,
        256
      ],
      "id": "ec7a462b-2325-4b4d-b492-6451356c23e2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        480
      ],
      "id": "a6a1f766-af55-49a8-b981-09c772e54cf7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ll562DreZPSEn57a",
          "name": "OpenAi account NaveRealengo"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.instagram.com/ladyrootsilhagrande/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        400
      ],
      "id": "10f5660c-9210-48a3-854a-bd39ce2ec733",
      "name": "HTTP Instagram"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -208,
        400
      ],
      "id": "0c21f1da-9eeb-4812-818e-28e3438403bc",
      "name": "MD Instagram"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Tipo Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tipo Busca": {
      "main": [
        [
          {
            "node": "HTTP Institucional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Institucional": {
      "main": [
        [
          {
            "node": "MD Institucional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD Institucional": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Instagram": {
      "main": [
        [
          {
            "node": "MD Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD Instagram": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "09e554ce-f6d7-422c-b35b-2df43be577b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7415e9235ece5189110114eb36bbaac162fc7eee18fdc01c0368c28339a042a1"
  },
  "id": "IOF6jxVD7LDxa6MD",
  "tags": []
}