Workflows/Escalar humano.json
{
  "name": "Escalar humano",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "ultima_mensagem"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "telegram_chat_id"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4db9a5db-5367-49e0-9625-de9ae5f62ad0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}",
        "text": "=Assistente desabilitado para o usuário {{ $('When Executed by Another Workflow').item.json.nome || '(usuário não cadastrado)' }} ({{ $('When Executed by Another Workflow').item.json.telefone }}).\n\nÚltima mensagem:\n\n---\n\n{{ $('When Executed by Another Workflow').item.json.ultima_mensagem }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        0
      ],
      "id": "a40e9428-9d2f-49bb-9797-f681af78bbb0",
      "name": "Enviar alerta",
      "webhookId": "153d7fb2-c401-4894-95a5-c123c8bbdd0d",
      "credentials": {
        "telegramApi": {
          "id": "Yd3Fi9Z87TxPwguH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.payload.append('agente-off').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        0
      ],
      "id": "137e1141-b74c-43f1-a0e6-6d734aca7bf9",
      "name": "Colocar etiqueta agente-off",
      "credentials": {
        "chatwootApi": {
          "id": "OsAo4ov6JZp0l9SX",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url_chatwoot }}/api/v1/accounts/{{ $json.id_conta }}/conversations/{{ $json.id_conversa }}/labels\n\n\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        0
      ],
      "id": "97b10df7-895c-4da7-b4f5-e515a86657c8",
      "name": "Listar etiquetas da conversa",
      "credentials": {
        "chatwootApi": {
          "id": "OsAo4ov6JZp0l9SX",
          "name": "ChatWoot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Listar etiquetas da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Enviar alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar etiquetas da conversa": {
      "main": [
        [
          {
            "node": "Colocar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bfc6bfe6-67ef-4e97-844f-2a159ff6c4bf",
  "meta": {
    "instanceId": "7415e9235ece5189110114eb36bbaac162fc7eee18fdc01c0368c28339a042a1"
  },
  "id": "eWTbIVJojWheMWgP",
  "tags": []
}