Workflows/03_Agente_Financeiro/Agente Financeiro.json
{
  "name": "Agente Financeiro",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "trigger-financeiro",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "AgenteAbby",
          "mode": "list",
          "cachedResultName": "AgenteAbby",
          "cachedResultUrl": "https://github.com/AgenteAbby"
        },
        "repository": {
          "__rl": true,
          "value": "LadyRoots",
          "mode": "list",
          "cachedResultName": "LadyRoots",
          "cachedResultUrl": "https://github.com/AgenteAbby/LadyRoots"
        },
        "filePath": "Prompt_Agente_Financeiro.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        200,
        0
      ],
      "id": "github-financeiro",
      "name": "Get a file",
      "credentials": {
        "githubApi": {
          "id": "68dRPQIO6Hk0P7wD",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "extract-financeiro",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "377d9293-finan-4623-a44e-9b318968b2e4",
              "name": "data_hoje",
              "value": "={{$now.setZone('America/Sao_Paulo').toFormat(\"dd/MM/yyyy HH:mm:ss\")}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        0
      ],
      "id": "data-hora-financeiro",
      "name": "Data & Hora"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Execute Workflow Trigger').item.json.mensagem }}",
        "options": {
          "systemMessage": "={{ $json.data || $json.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        820,
        0
      ],
      "id": "agent-financeiro",
      "name": "Agente Financeiro"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        220
      ],
      "id": "llm-financeiro",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ll562DreZPSEn57a",
          "name": "OpenAi account NaveRealengo"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 150
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        960,
        220
      ],
      "id": "memory-financeiro",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "IbTQCUZTjDnHg7GK",
          "name": "Postgres Lady_Roots_V1"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "integracao_asaas_placeholder",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1100,
        220
      ],
      "id": "tool-asaas",
      "name": "integracao_asaas",
      "notesInFlow": true,
      "notes": "ATENÇÃO: 'Integração Asaas.json' não possui ID do n8n no JSON local. Importe-o manualmente e substitua este valor."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "f9Wib5-Su1Yi2qWpNWTUk",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1260,
        220
      ],
      "id": "tool-gerar-cobranca",
      "name": "gerar_cobranca",
      "notesInFlow": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RAvzYNb26BqE5sps",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1420,
        220
      ],
      "id": "tool-enviar-doc",
      "name": "enviar_documento",
      "notesInFlow": false
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "respostaAgente",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        0
      ],
      "id": "set-financeiro-output",
      "name": "Formatar Retorno"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Data & Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data & Hora": {
      "main": [
        [
          {
            "node": "Agente Financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Financeiro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Financeiro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "integracao_asaas": {
      "ai_tool": [
        [
          {
            "node": "Agente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gerar_cobranca": {
      "ai_tool": [
        [
          {
            "node": "Agente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviar_documento": {
      "ai_tool": [
        [
          {
            "node": "Agente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Financeiro": {
      "main": [
        [
          {
            "node": "Formatar Retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
